/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.kard.api.resources.users.uploads;

import com.kard.api.core.ClientOptions;
import com.kard.api.core.RequestOptions;
import com.kard.api.resources.users.uploads.types.CreateUploadPartRequestObject;
import com.kard.api.resources.users.uploads.types.CreateUploadPartResponseObject;
import com.kard.api.resources.users.uploads.types.CreateUploadRequestObject;
import com.kard.api.resources.users.uploads.types.CreateUploadResponseObject;
import com.kard.api.resources.users.uploads.types.UpdateUploadRequestObject;
import com.kard.api.resources.users.uploads.types.UpdateUploadResponseObject;
import java.util.concurrent.CompletableFuture;

public class AsyncUploadsClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawUploadsClient rawClient;

    public AsyncUploadsClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawUploadsClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawUploadsClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Call this endpoint to create an upload session and retrieve an upload ID. Using the upload ID in the <a href="/api/uploads/create-upload-part">Add Upload
     * Part</a> endpoint, historical transactions can be sent in batches for further processing.
     * <b>Required scopes:</b> <code>transaction:write</code>
     */
    public CompletableFuture<CreateUploadResponseObject> create(
            String organizationId, String userId, CreateUploadRequestObject request) {
        return this.rawClient.create(organizationId, userId, request).thenApply(response -> response.body());
    }

    /**
     * Call this endpoint to create an upload session and retrieve an upload ID. Using the upload ID in the <a href="/api/uploads/create-upload-part">Add Upload
     * Part</a> endpoint, historical transactions can be sent in batches for further processing.
     * <b>Required scopes:</b> <code>transaction:write</code>
     */
    public CompletableFuture<CreateUploadResponseObject> create(
            String organizationId, String userId, CreateUploadRequestObject request, RequestOptions requestOptions) {
        return this.rawClient
                .create(organizationId, userId, request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Call this endpoint using the upload ID provided in the <a href="/api/uploads/create-upload">Create Upload</a> endpoint to add parts to your upload. Currently, this endpoint supports adding historical transactions.
     * <b>Required scopes:</b> <code>transaction:write</code>
     * <b>Note:</b> <code>Maximum of 500 transactions can be uploaded per request</code>.
     */
    public CompletableFuture<CreateUploadPartResponseObject> createPart(
            String organizationId, String userId, String uploadId, CreateUploadPartRequestObject request) {
        return this.rawClient
                .createPart(organizationId, userId, uploadId, request)
                .thenApply(response -> response.body());
    }

    /**
     * Call this endpoint using the upload ID provided in the <a href="/api/uploads/create-upload">Create Upload</a> endpoint to add parts to your upload. Currently, this endpoint supports adding historical transactions.
     * <b>Required scopes:</b> <code>transaction:write</code>
     * <b>Note:</b> <code>Maximum of 500 transactions can be uploaded per request</code>.
     */
    public CompletableFuture<CreateUploadPartResponseObject> createPart(
            String organizationId,
            String userId,
            String uploadId,
            CreateUploadPartRequestObject request,
            RequestOptions requestOptions) {
        return this.rawClient
                .createPart(organizationId, userId, uploadId, request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Call this endpoint to update your upload session. Currently, you can signal completing a historical transactions upload.
     * <b>Required scopes:</b> <code>transaction:write</code>
     */
    public CompletableFuture<UpdateUploadResponseObject> update(
            String organizationId, String userId, String uploadId, UpdateUploadRequestObject request) {
        return this.rawClient.update(organizationId, userId, uploadId, request).thenApply(response -> response.body());
    }

    /**
     * Call this endpoint to update your upload session. Currently, you can signal completing a historical transactions upload.
     * <b>Required scopes:</b> <code>transaction:write</code>
     */
    public CompletableFuture<UpdateUploadResponseObject> update(
            String organizationId,
            String userId,
            String uploadId,
            UpdateUploadRequestObject request,
            RequestOptions requestOptions) {
        return this.rawClient
                .update(organizationId, userId, uploadId, request, requestOptions)
                .thenApply(response -> response.body());
    }
}
