/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.kard.api.resources.users.uploads;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.kard.api.core.ClientOptions;
import com.kard.api.core.KardApiApiException;
import com.kard.api.core.KardApiException;
import com.kard.api.core.KardApiHttpResponse;
import com.kard.api.core.MediaTypes;
import com.kard.api.core.ObjectMappers;
import com.kard.api.core.RequestOptions;
import com.kard.api.resources.commons.errors.ConflictError;
import com.kard.api.resources.commons.errors.InternalServerError;
import com.kard.api.resources.commons.errors.InvalidRequest;
import com.kard.api.resources.commons.errors.UnauthorizedError;
import com.kard.api.resources.commons.types.ErrorResponse;
import com.kard.api.resources.users.uploads.errors.UploadPartMultiStatus;
import com.kard.api.resources.users.uploads.types.CreateUploadPartMultiStatusResponse;
import com.kard.api.resources.users.uploads.types.CreateUploadPartRequestObject;
import com.kard.api.resources.users.uploads.types.CreateUploadPartResponseObject;
import com.kard.api.resources.users.uploads.types.CreateUploadRequestObject;
import com.kard.api.resources.users.uploads.types.CreateUploadResponseObject;
import com.kard.api.resources.users.uploads.types.UpdateUploadRequestObject;
import com.kard.api.resources.users.uploads.types.UpdateUploadResponseObject;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import okhttp3.Call;
import okhttp3.Callback;
import okhttp3.Headers;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.RequestBody;
import okhttp3.Response;
import okhttp3.ResponseBody;
import org.jetbrains.annotations.NotNull;

public class AsyncRawUploadsClient {
    protected final ClientOptions clientOptions;

    public AsyncRawUploadsClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
    }

    /**
     * Call this endpoint to create an upload session and retrieve an upload ID. Using the upload ID in the <a href="/api/uploads/create-upload-part">Add Upload
     * Part</a> endpoint, historical transactions can be sent in batches for further processing.
     * &lt;b&gt;Required scopes:&lt;/b&gt; <code>transaction:write</code>
     */
    public CompletableFuture<KardApiHttpResponse<CreateUploadResponseObject>> create(
            String organizationId, String userId, CreateUploadRequestObject request) {
        return create(organizationId, userId, request, null);
    }

    /**
     * Call this endpoint to create an upload session and retrieve an upload ID. Using the upload ID in the <a href="/api/uploads/create-upload-part">Add Upload
     * Part</a> endpoint, historical transactions can be sent in batches for further processing.
     * &lt;b&gt;Required scopes:&lt;/b&gt; <code>transaction:write</code>
     */
    public CompletableFuture<KardApiHttpResponse<CreateUploadResponseObject>> create(
            String organizationId, String userId, CreateUploadRequestObject request, RequestOptions requestOptions) {
        HttpUrl httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("v2/issuers")
                .addPathSegment(organizationId)
                .addPathSegments("users")
                .addPathSegment(userId)
                .addPathSegments("uploads")
                .build();
        RequestBody body;
        try {
            body = RequestBody.create(
                    ObjectMappers.JSON_MAPPER.writeValueAsBytes(request), MediaTypes.APPLICATION_JSON);
        } catch (JsonProcessingException e) {
            throw new KardApiException("Failed to serialize request", e);
        }
        Request okhttpRequest = new Request.Builder()
                .url(httpUrl)
                .method("POST", body)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Content-Type", "application/json")
                .addHeader("Accept", "application/json")
                .build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        CompletableFuture<KardApiHttpResponse<CreateUploadResponseObject>> future = new CompletableFuture<>();
        client.newCall(okhttpRequest).enqueue(new Callback() {
            @Override
            public void onResponse(@NotNull Call call, @NotNull Response response) throws IOException {
                try (ResponseBody responseBody = response.body()) {
                    String responseBodyString = responseBody != null ? responseBody.string() : "{}";
                    if (response.isSuccessful()) {
                        future.complete(new KardApiHttpResponse<>(
                                ObjectMappers.JSON_MAPPER.readValue(
                                        responseBodyString, CreateUploadResponseObject.class),
                                response));
                        return;
                    }
                    try {
                        switch (response.code()) {
                            case 400:
                                future.completeExceptionally(new InvalidRequest(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                            case 401:
                                future.completeExceptionally(new UnauthorizedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                            case 500:
                                future.completeExceptionally(new InternalServerError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                        }
                    } catch (JsonProcessingException ignored) {
                        // unable to map error response, throwing generic error
                    }
                    Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
                    future.completeExceptionally(new KardApiApiException(
                            "Error with status code " + response.code(), response.code(), errorBody, response));
                    return;
                } catch (IOException e) {
                    future.completeExceptionally(new KardApiException("Network error executing HTTP request", e));
                }
            }

            @Override
            public void onFailure(@NotNull Call call, @NotNull IOException e) {
                future.completeExceptionally(new KardApiException("Network error executing HTTP request", e));
            }
        });
        return future;
    }

    /**
     * Call this endpoint using the upload ID provided in the <a href="/api/uploads/create-upload">Create Upload</a> endpoint to add parts to your upload. Currently, this endpoint supports adding historical transactions.
     * &lt;b&gt;Required scopes:&lt;/b&gt; <code>transaction:write</code>
     * &lt;b&gt;Note:&lt;/b&gt; <code>Maximum of 500 transactions can be uploaded per request</code>.
     */
    public CompletableFuture<KardApiHttpResponse<CreateUploadPartResponseObject>> createPart(
            String organizationId, String userId, String uploadId, CreateUploadPartRequestObject request) {
        return createPart(organizationId, userId, uploadId, request, null);
    }

    /**
     * Call this endpoint using the upload ID provided in the <a href="/api/uploads/create-upload">Create Upload</a> endpoint to add parts to your upload. Currently, this endpoint supports adding historical transactions.
     * &lt;b&gt;Required scopes:&lt;/b&gt; <code>transaction:write</code>
     * &lt;b&gt;Note:&lt;/b&gt; <code>Maximum of 500 transactions can be uploaded per request</code>.
     */
    public CompletableFuture<KardApiHttpResponse<CreateUploadPartResponseObject>> createPart(
            String organizationId,
            String userId,
            String uploadId,
            CreateUploadPartRequestObject request,
            RequestOptions requestOptions) {
        HttpUrl httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("v2/issuers")
                .addPathSegment(organizationId)
                .addPathSegments("users")
                .addPathSegment(userId)
                .addPathSegments("uploads")
                .addPathSegment(uploadId)
                .addPathSegments("parts")
                .build();
        RequestBody body;
        try {
            body = RequestBody.create(
                    ObjectMappers.JSON_MAPPER.writeValueAsBytes(request), MediaTypes.APPLICATION_JSON);
        } catch (JsonProcessingException e) {
            throw new KardApiException("Failed to serialize request", e);
        }
        Request okhttpRequest = new Request.Builder()
                .url(httpUrl)
                .method("PUT", body)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Content-Type", "application/json")
                .addHeader("Accept", "application/json")
                .build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        CompletableFuture<KardApiHttpResponse<CreateUploadPartResponseObject>> future = new CompletableFuture<>();
        client.newCall(okhttpRequest).enqueue(new Callback() {
            @Override
            public void onResponse(@NotNull Call call, @NotNull Response response) throws IOException {
                try (ResponseBody responseBody = response.body()) {
                    String responseBodyString = responseBody != null ? responseBody.string() : "{}";
                    if (response.isSuccessful()) {
                        future.complete(new KardApiHttpResponse<>(
                                ObjectMappers.JSON_MAPPER.readValue(
                                        responseBodyString, CreateUploadPartResponseObject.class),
                                response));
                        return;
                    }
                    try {
                        switch (response.code()) {
                            case 207:
                                future.completeExceptionally(new UploadPartMultiStatus(
                                        ObjectMappers.JSON_MAPPER.readValue(
                                                responseBodyString, CreateUploadPartMultiStatusResponse.class),
                                        response));
                                return;
                            case 400:
                                future.completeExceptionally(new InvalidRequest(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                            case 401:
                                future.completeExceptionally(new UnauthorizedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                            case 500:
                                future.completeExceptionally(new InternalServerError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                        }
                    } catch (JsonProcessingException ignored) {
                        // unable to map error response, throwing generic error
                    }
                    Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
                    future.completeExceptionally(new KardApiApiException(
                            "Error with status code " + response.code(), response.code(), errorBody, response));
                    return;
                } catch (IOException e) {
                    future.completeExceptionally(new KardApiException("Network error executing HTTP request", e));
                }
            }

            @Override
            public void onFailure(@NotNull Call call, @NotNull IOException e) {
                future.completeExceptionally(new KardApiException("Network error executing HTTP request", e));
            }
        });
        return future;
    }

    /**
     * Call this endpoint to update your upload session. Currently, you can signal completing a historical transactions upload.
     * &lt;b&gt;Required scopes:&lt;/b&gt; <code>transaction:write</code>
     */
    public CompletableFuture<KardApiHttpResponse<UpdateUploadResponseObject>> update(
            String organizationId, String userId, String uploadId, UpdateUploadRequestObject request) {
        return update(organizationId, userId, uploadId, request, null);
    }

    /**
     * Call this endpoint to update your upload session. Currently, you can signal completing a historical transactions upload.
     * &lt;b&gt;Required scopes:&lt;/b&gt; <code>transaction:write</code>
     */
    public CompletableFuture<KardApiHttpResponse<UpdateUploadResponseObject>> update(
            String organizationId,
            String userId,
            String uploadId,
            UpdateUploadRequestObject request,
            RequestOptions requestOptions) {
        HttpUrl httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("v2/issuers")
                .addPathSegment(organizationId)
                .addPathSegments("users")
                .addPathSegment(userId)
                .addPathSegments("uploads")
                .addPathSegment(uploadId)
                .build();
        RequestBody body;
        try {
            body = RequestBody.create(
                    ObjectMappers.JSON_MAPPER.writeValueAsBytes(request), MediaTypes.APPLICATION_JSON);
        } catch (JsonProcessingException e) {
            throw new KardApiException("Failed to serialize request", e);
        }
        Request okhttpRequest = new Request.Builder()
                .url(httpUrl)
                .method("PUT", body)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Content-Type", "application/json")
                .addHeader("Accept", "application/json")
                .build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        CompletableFuture<KardApiHttpResponse<UpdateUploadResponseObject>> future = new CompletableFuture<>();
        client.newCall(okhttpRequest).enqueue(new Callback() {
            @Override
            public void onResponse(@NotNull Call call, @NotNull Response response) throws IOException {
                try (ResponseBody responseBody = response.body()) {
                    String responseBodyString = responseBody != null ? responseBody.string() : "{}";
                    if (response.isSuccessful()) {
                        future.complete(new KardApiHttpResponse<>(
                                ObjectMappers.JSON_MAPPER.readValue(
                                        responseBodyString, UpdateUploadResponseObject.class),
                                response));
                        return;
                    }
                    try {
                        switch (response.code()) {
                            case 400:
                                future.completeExceptionally(new InvalidRequest(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                            case 401:
                                future.completeExceptionally(new UnauthorizedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                            case 409:
                                future.completeExceptionally(new ConflictError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                            case 500:
                                future.completeExceptionally(new InternalServerError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, ErrorResponse.class),
                                        response));
                                return;
                        }
                    } catch (JsonProcessingException ignored) {
                        // unable to map error response, throwing generic error
                    }
                    Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
                    future.completeExceptionally(new KardApiApiException(
                            "Error with status code " + response.code(), response.code(), errorBody, response));
                    return;
                } catch (IOException e) {
                    future.completeExceptionally(new KardApiException("Network error executing HTTP request", e));
                }
            }

            @Override
            public void onFailure(@NotNull Call call, @NotNull IOException e) {
                future.completeExceptionally(new KardApiException("Network error executing HTTP request", e));
            }
        });
        return future;
    }
}
